body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center; /* 中央揃え */
    padding-top: 100px; /* ページ上部の余白を調整 */
}

.search-container {
    display: flex;
    flex-direction: column; /* 縦方向に配置 */
    align-items: center;
    justify-content: center;
    gap: 150px; /* ロゴとフォームの間の隙間を調整 */
}

.form-container {
    display: flex;
    flex-direction: row; /* 横並びに配置 */
    align-items: center;
    justify-content: center;
    gap: 10px; /* フォームとボタンの間の隙間を調整 */
}

.search-input {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.search-button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: rgb(149,202,252);
    background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}

.search-button:hover {
    background: rgb(117,188,255);
    background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}

.search-button img {
    width: 20px;
    height: 20px;
}

/* 新しいスタイルを追加して隙間を調整 */
#searchPageLink {
    display: block;
    margin-top: 300px; /* フォームとリンクの間の隙間を調整 */
}

#inputPageLink {
    display: block;
    margin-top: 300px; /* フォームとリンクの間の隙間を調整 */
}


.modal {
  display: none; /* デフォルトでは非表示 */
  position: fixed; /* 固定表示 */
  z-index: 1; /* 最前面に表示 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* 必要に応じてスクロール可能 */
  background-color: rgba(0, 0, 0, 0.4); /* 半透明の背景色 */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 中央に配置 */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 幅を調整 */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.result-table-container {
  width: 80%; /* 画面全体の80% */
  margin: 0 auto; /* 中央揃え */
  margin-top: 20px; /* 上部の余白 */
}

.result-table {
  width: 100%; /* 親要素の幅に合わせる */
  border-collapse: collapse;
}

.result-table th, .result-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.result-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.result-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.result-table tr:hover {
  background-color: #ddd;
}
