body {
    font-family: Arial, sans-serif;
    align-items: center;
    padding-top: 100px; /* ページ上部の余白を調整 */
}

.search-container {
    display: flex;
    flex-direction: column; /* 縦方向に配置 */
    align-items: center;
    justify-content: center;
    gap: 150px; /* ロゴとフォームの間の隙間を調整 */
}

.form-container {
    display: flex;
    flex-direction: row; /* 横並びに配置 */
    align-items: center;
    justify-content: center;
    gap: 10px; /* フォームとボタンの間の隙間を調整 */
}

.search-container2 {
    display: flex;
    flex-direction: column; /* 縦方向に配置 */
    align-items: center;
    justify-content: center;
}
.form-container2 {
    display: flex;
    flex-direction: row; /* 横並びに配置 */
    align-items: center;
    justify-content: center;
    gap: 10px; /* フォームとボタンの間の隙間を調整 */
}

.search-input {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.search-button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: rgb(149,202,252);
    background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}

.search-button:hover {
    background: rgb(117,188,255);
    background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}

.search-input2 {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.search-button2 {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: rgb(149,202,252);
    background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}

.search-button2:hover {
    background: rgb(117,188,255);
    background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}

/* 新しいスタイルを追加して隙間を調整 */
#searchPageLink {
    display: inline-block; /* インラインブロックに設定して幅をテキストに合わせる */
    margin-top: 100px; /* フォームとリンクの間の隙間を調整 */
    padding: 5px 10px; /* クリックしやすいようにパディングを追加 */
    text-decoration: none; /* リンクの下線を除去 */
    color: #007BFF; /* リンクの色を設定 */
    border-radius: 5px; /* 角を丸くする */
    background-color: #f0f0f0; /* 背景色を設定 */
    width: auto; /* 幅を自動調整 */
    text-align: center;
}

#searchPageLink:hover {
    background-color: #e0e0e0; /* ホバー時の背景色を変更 */
    color: #0056b3; /* ホバー時のテキスト色を変更 */
}

#inputPageLink {
    display: inline-block;
    margin-top: 80px; /* フォームとリンクの間の隙間を調整 */
    padding: 5px 10px; /* クリックしやすいようにパディングを追加 */
    text-decoration: none; /* リンクの下線を除去 */
    color: #007BFF; /* リンクの色を設定 */
    border-radius: 5px; /* 角を丸くする */
    background-color: #f0f0f0; /* 背景色を設定 */
    width: auto; /* 幅を自動調整 */
    text-align: center;
}

#inputPageLink:hover {
    background-color: #e0e0e0; /* ホバー時の背景色を変更 */
    color: #0056b3; /* ホバー時のテキスト色を変更 */
}

.modal {
  display: none; /* デフォルトでは非表示 */
  position: fixed; /* 固定表示 */
  z-index: 1; /* 最前面に表示 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* 必要に応じてスクロール可能 */
  background-color: rgba(0, 0, 0, 0.4); /* 半透明の背景色 */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 中央に配置 */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 幅を調整 */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.result-table-container {
  width: 80%; /* 画面全体の80% */
  margin: 0 auto; /* 中央揃え */
  margin-top: 20px; /* 上部の余白 */
}

.result-table {
  width: 100%; /* 親要素の幅に合わせる */
  border-collapse: collapse;
}

.result-table th, .result-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.result-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.result-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.result-table tr:hover {
  background-color: #ddd;
}

#loginForm {
  display: none;
}
