body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center; /* 中央揃え */
    padding-top: 100px; /* ページ上部の余白を調整 */
}

.search-container {
    display: flex;
    flex-direction: column; /* 縦方向に配置 */
    align-items: center;
    justify-content: center;
    gap: 200px; /* ロゴとフォームの間の隙間を調整 */
}

.form-container {
    display: flex;
    flex-direction: row; /* 横並びに配置 */
    align-items: center;
    justify-content: center;
    gap: 10px; /* フォームとボタンの間の隙間を調整 */
}

.search-input {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.search-button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: rgb(149,202,252);
    background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}

.search-button:hover {
    background: rgb(117,188,255);
    background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}

.search-button img {
    width: 20px;
    height: 20px;
}

/* 新しいスタイルを追加して隙間を調整 */
#searchPageLink {
    display: block;
    margin-top: 300px; /* フォームとリンクの間の隙間を調整 */
}
